.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
}

#landing-page button {
  width: 200px;
  height: 30px;
  border: 0;
  background-color: green;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

#landing-page button:hover {
  background-color: rgb(3, 105, 3);
}

.user-input {
  width: 200px;
  height: 30px;
  text-align: center;
}
